<h2><%= @animal.name %></h2>
<p>
  <strong>Legs:</strong> <%= @animal.legs %>
</p>
<p>
  <strong>Poisonous:</strong> <%= @animal.poisonous %>
</p>
<p>
  <strong>Warm Blooded:</strong> <%= @animal.warm_blooded %>
</p>

<ul>
  <li>
    Kingdom: <%= link_to @animal.kingdom.name, @animal.kingdom if @animal.kingdom.name != nil%>
  </li>
  <li>
    Phylum: <%= link_to @animal.phylum.name, @animal.phylum if @animal.phylum.name != nil %>
  </li>
  <li>
    Class: <%= link_to @animal.taxonomical_class.name, class_path(@animal.taxonomical_class) if @animal.taxonomical_class.name != nil %>
  </li>
  <li>
    Order: <%= link_to @animal.order.name, @animal.order if @animal.order.name != nil %>
  </li>
  <li>
    Family: <%= link_to @animal.family.name, @animal.family if @animal.family.name != nil %>
  </li>
  <li>
    Genus: <%= link_to @animal.genus.name, @animal.genus if @animal.genus.name != nil %>
  </li>
  <li>
    Species: <%= link_to @animal.species.name, @animal.species if @animal.species.name != nil %>
  </li>
</ul>

<% if @animal.image_path %>
  <div class="animal_image">
    <%= image_tag @animal.image_path %> <br />
  </div>
<% end %>
<%= link_to "Back to Animals", animals_path %> |
<%= link_to "Edit Animal", edit_animal_path %> |
<%= link_to "Delete Animal", @animal, method: :delete %> |
