<h2><%= @animal.name %></h2>
<p>
  <strong>Legs:</strong> <%= @animal.legs %>
</p>
<p>
  <strong>Poisonous:</strong> <%= @animal.poisonous %>
</p>
<p>
  <strong>Warm Blooded:</strong> <%= @animal.warm_blooded %>
</p>

<ul>
  <li>
    Kingdom: <%= @animal.kingdom.name if @animal.kingdom %>
  </li>
  <li>
    Phylum: <%= @animal.phylum.name if @animal.phylum %>
  </li>
  <li>
    Class: <%= @animal.taxonomical_class.name if @animal.taxonomical_class %>
  </li>
  <li>
    Order: <%= @animal.order.name if @animal.order %>
  </li>
  <li>
    Family: <%= @animal.family.name if @animal.family %>
  </li>
  <li>
    Genus: <%= @animal.genus.name if @animal.genus %>
  </li>
  <li>
    Species: <%= @animal.species.name if @animal.species %>
  </li>
</ul>

<% if @animal.image_path %>
  <div class="animal_image">
    <%= image_tag @animal.image_path %> <br />
  </div>
<% end %>
<%= link_to "Back to Animals", animals_path %> |
<%= link_to "Edit Animal", edit_animal_path %> |
<%= link_to "Delete Animal", @animal, method: :delete %> |
