

<h1 class="text-center container well well-sm"><u><%= @animal.name %></u></h1>

<div class="container jumbotron">
  <div class="row">
    <div class="col col-md-4">
      <h3><u>Basic Info:</u></h3>
      <p>
        <strong>Legs:</strong> <%= @animal.legs %>
      </p>

      <p>
        <strong>Poisonous:</strong> <%= @animal.poisonous %>
      </p>

      <p>
        <strong>Warm Blooded:</strong> <%= @animal.warm_blooded %>
      </p>

      <p>
        <strong>Sightings:</strong> <%= @animal.sighting_number %>
      </p>

      <p>
        <strong>Non-Sightings:</strong> <%= @animal.non_sighting_number %>
      </p>
    </div>
    <div class="col col-md-4">
      <h3><u>Taxonomical Info:</u></h3>
      <h4><%= link_to "Kingdom:", kingdoms_path %> <%= link_to @animal.kingdom.name, @animal.kingdom if @animal.kingdom_id && @animal.kingdom.name %></h3>
      <h4><%= link_to "Phylum:", phylums_path %> <%= link_to @animal.phylum.name, @animal.phylum if @animal.phylum_id && @animal.phylum.name %></h4>
      <h4><%= link_to "Class:", taxonomical_classes_path %> <%= link_to @animal.taxonomical_class.name, @animal.taxonomical_class if @animal.taxonomical_class_id && @animal.taxonomical_class.name %></h4>
      <h4><%= link_to "Order:", orders_path %> <%= link_to @animal.order.name, @animal.order if @animal.order_id && @animal.order.name %></h4>
      <h4><%= link_to "Family:", families_path %> <%= link_to @animal.family.name, @animal.family if @animal.family_id && @animal.family.name %></h4>
      <h4><%= link_to "Genus:", genus_path %> <%= link_to @animal.genus.name, @animal.genus if @animal.genus_id && @animal.genus.name %></h4>
      <h4><%= link_to "Species:", species_index_path %> <%= link_to @animal.species.name, @animal.species if @animal.species_id && @animal.species.name %></h4>
    </div>
    <div class="col col-md-4">
      <h3><u>Picture:</u></h3>
      <% if @animal.image_path %>
        <div class="animal_image">
          <%= image_tag @animal.wiki_img_url %><br />
        </div>
      <% end %>
    </div>
  </div>

</div>
<div class="container well well-md">
  <div class="row">
    <h4 class="text-center col col-md-4"><%= link_to "Back to Animals", animals_path %></h4>
    <h4 class="text-center col col-md-4"><%= link_to "Edit Animal", edit_animal_path %></h4>
    <h4 class="text-center col col-md-4"><%= link_to "Delete Animal", @animal, method: :delete %></h4>
  </div>
</div>
