<h1 class="text-center container well well-sm"><u><%= link_to "Phylum: ", phylums_path %><%= "#{@phylum.name}" %></u></h1>

<%= render partial: "shared/animals_by_taxonomical_level", locals: { data: @phylum, taxonomical_level: "Phylum" } %>

<h1 class="text-center container well well-sm"><u>Contained Classes</u></h1>

<%= render partial: "shared/tax_index", locals: { levels: @phylum.taxonomical_classes.order(name: :asc).distinct } %>

<h1 class="text-center container well well-sm"><u>Contained Orders</u></h1>

<%= render partial: "shared/tax_index", locals: { levels: @phylum.orders.order(name: :asc).distinct } %>

<h1 class="text-center container well well-sm"><u>Contained Families</u></h1>

<%= render partial: "shared/tax_index", locals: { levels: @phylum.families.order(name: :asc).distinct } %>

<h1 class="text-center container well well-sm"><u>Contained Genuses</u></h1>

<%= render partial: "shared/tax_index", locals: { levels: @phylum.genus.order(name: :asc).distinct } %>

<h1 class="text-center container well well-sm"><u>Contained Species</u></h1>

<%= render partial: "shared/tax_index", locals: { levels: @phylum.species.order(name: :asc).distinct } %>
