<!DOCTYPE html>
<html>
  <head>
    <title>Basement Animals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="background_container">
    <div class="navbar navbar-default">
      <div class="navbar-header navbar-left">
        <a class="navbar-brand" href="/">Basement Animals</a>
      </div>
      <div class="navbar-form navbar-right">
        <%= link_to "Animals", animals_path, class: "navlink" %> |
        <%= link_to "Sightings", sightings_path, class: "navlink" %> |

        <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :delete, class: "navlink" %>
        <% else %>
        <%= link_to "Login/Sign-Up", login_path, class: "navlink" %>
        <% end %>


      </div>
    </div>

    <% flash.each do |name, message| %>
    <%= content_tag :div, message, class: "flash_#{name} container well well-sm text-center" %>
    <% end %>

    <%= yield %>

    </div>
  </body>
</html>
